!!!5
html
    head
        link(rel='stylesheet',href='/css/style.css')
    body
        form#testForm(method='GET')
            select#my-select(multiple='multiple', name='options_1')
                optgroup(label='Group1')
                    option(value='test_1',selected='true') test1
                    option(value='test_2',selected='true') test2
                optgroup(label='Group2')
                    option(value='test_3') test3
                    option(value='test_4') test4
                    option(value='test_5') test5
                    option(value='test_6') test6
                optgroup(label='Group3')
                    option(value='test_7',selected='true') test7
                    option(value='test_8') test8
                    option(value='test_9') test9
            select#my-select-simple(multiple='multiple', name='options_2')
                option(value='test_1',selected='true') test1
                option(value='test_2',selected='true') test2
                option(value='test_3') test3
                option(value='test_4') test4
                option(value='test_5') test5
                option(value='test_6') test6
                option(value='test_7') test7
                option(value='test_8',selected='true') test8
                option(value='test_9') test9
            input(type='submit', style='clear:both;float:left')
        script(src='/lib/craft.js')
        script(src='/CraftMultiSelect.js')
        script
            $('my-select').multiSelect({selectableOptgroup:true})
            $('my-select-simple').multiSelect()