body
  font-family: Consolas
  font-size: 14px

.liStyle
  border-bottom: 1px #EEEEEE solid
  line-height: 20px
  padding: 2px 10px

.liItemGroupStyle
  padding: 2px 15px

.liItemGroupStyleOver
  background-color: #0088CC
  color: #FFFFFF
  cursor: pointer
  text-decoration: none

.liGroupStyle
  color: #999999
  cursor: pointer
  border-bottom: 0

.liGroupStyleOver
   border: 1px #0088CC solid
   border-bottom: 1px #FFFFFF solid
   color: #0088CC
   font: bold

.ulStyle
  height: 250px
  width: 160px
  border: 1px solid
  list-style-type: none
  padding: 0
  border-radius: 4px
  overflow-y: auto

.containerStyle
  display: block
  clear: both

.selectableDivStyle
  float: left
  overflow-y: auto
  margin-right: 40px

.selectionDivStyle
  float: left
  overflow-y: auto